.rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCMR>div:last-child, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCPU, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCDV.GNKRCKGCNO div.GNKRCKGCKO .GNKRCKGCES, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCDV.GNKRCKGCNO
{
	border-color: rgba(50, 50, 50, 1)
}
.rstudio-themes-flat.rstudio-themes-dark-menus .search {
	border-color: rgb(50, 50, 50);
	background: rgb(20, 20, 20)
}
.rstudio-themes-flat .search {
	border: solid 1px #000000;
}
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-SplitLayoutPanel-HDragger, .rstudio-themes-flat .rstudio-themes-dark-grey .gwt-SplitLayoutPanel-VDragger {
	background-color: rgba(50, 50, 50, 0.5);
	background: rgba(50, 50, 50, 1) !important
}
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCMR .GNKRCKGCGO, .rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars ::-webkit-scrollbar-track, .rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars ::-webkit-scrollbar-corner, .rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars::-webkit-scrollbar-track, .rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars::-webkit-scrollbar-corner, .rstudio-themes-flat.rstudio-themes-dark-menus .rstudio-themes-scrollbars ::-webkit-scrollbar-track, .rstudio-themes-flat.rstudio-themes-dark-menus .rstudio-themes-scrollbars ::-webkit-scrollbar-corner {
	background: rgba(50, 50, 50, 1)
}
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-SplitLayoutPanel-HDragger, .rstudio-themes-flat .rstudio-themes-dark-grey .gwt-SplitLayoutPanel-VDragger {
	background: rgba(40, 40, 40, 1)
}
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs table.GNKRCKGCJT, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCMR table.GNKRCKGCJT {
	border-color: rgb(20, 20, 20);
	background: rgba(60, 60, 60, 1)
}
.rstudio-themes-flat .rstudio-themes-dark-grey .rstudio-themes-background, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCPU, .rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab-selected table.GNKRCKGCJT, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCOS, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCDV.GNKRCKGCNO div.GNKRCKGCKO .GNKRCKGCES, .rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelContent, .rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanel {
	background: rgb(40, 40, 40)
}
.rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCJXB {
	background: rgb(50, 50, 50);
	border-color: rgb(10, 10, 10)
}
.rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCM4B, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCH4B, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCG5B {
	border-color: rgb(10, 10, 10)
}
.rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCMR>div:last-child, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCPU, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCDV.GNKRCKGCNO div.GNKRCKGCKO .GNKRCKGCES, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCDV.GNKRCKGCNO {
	border-color: rgb(10, 10, 10)
}
body.rstudio-themes-flat .rstudio-themes-dark-grey {
	background: rgba(50, 50, 50, 1)
}
.rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCM4B {
	background: rgba(50, 50, 50, 1)
}
.rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCNCC {
	background: rgb(50, 50, 50);
	border-color: rgb(10, 10, 10)
}
.rstudio-themes-flat.rstudio-themes-dark-menus .search {
	border-color: rgb(10, 10, 10);
	background: rgb(25, 25, 25)
}

.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-SplitLayoutPanel-HDragger, .rstudio-themes-flat .rstudio-themes-dark-grey .gwt-SplitLayoutPanel-VDragger {
  background: rgb(50, 50, 50);
}
.rstudio-themes-flat .rstudio-themes-dark-grey table.GNKRCKGCKQ > tbody > tr > td, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCDV > div:last-child, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCOS, .rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanel > div > div.gwt-TabLayoutPanelTabs {
  border-top-color: rgb(10, 10, 10);
  border-right-color: rgb(10, 10, 10);
  border-bottom-color: rgb(10, 10, 10);
  border-left-color: rgb(10, 10, 10)
}
.rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCA-C, .rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCA-C .GNKRCKGCGYC {
  border-color: rgb(10, 10, 10);
}
.rstudio-themes-flat .rstudio-themes-dark button.GNKRCKGCJ0>table:first-child {
  border-color: #1c1c1c;
  background: #333;
}
.rstudio-themes-flat .rstudio-themes-dark-grey .GNKRCKGCINB {
  background: rgb(50, 50, 50);
  border-color: rgb(10, 10, 10);
}