/* -------- FONTS --------- */

:root {
  --ds-ui-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  --ds-ui-bg: #2c2c2c;
  --ds-ui-font-fg: #ffffff;
  --ds-ui-divider-bg: #2c2c2c;
  --ds-ui-button-bg: #3482d1;
  --ds-ui-button-bg-selected: #5c8bbb;
  --ds-ui-border: #0a0a0a;
  --ds-input-bg: #141414;
  --ds-active-tab: #3b3b3b;
  --ds-inactive-tab: #303030;
  --ds-active-secondary-tab: #2c2c2c;
  --ds-tab-gradient-dark: linear-gradient(to right, #28282800, #282828 13%);
  --ds-tab-gradient-light: linear-gradient(to right, #3b3b3b, #3b3b3b00);
  --ds-grid-border: #2f2f2f;
  --ds-scrollbar-bg: transparent;
  --ds-scrollbar-thumb-bg: #282828;
  --ds-scrollbar-bg-hover: #333333;
  --ds-scrollbar-bg-active: #3482d1;
  --ds-scrollbar-border: solid 2px #282828;
  --ds-autocomplete-bg: #222222;
  --ds-autocomplete-fg: #dddddd;
  --ds-autocomplete-border: #0a0a0a;
}

/*******
*
* Fonts
*
*/
.rstudio-themes-flat,
.rstudio-themes-dark .GD15MCFCJU,
.rstudio-themes-flat .rstudio-themes-dark .GD15MCFCJU button {
  font-family: var(--ds-ui-font) !important;
}

/*******
*
* Scrollbars
*
*/
.rstudio-themes-flat
  .rstudio-themes-dark.rstudio-themes-scrollbars
  ::-webkit-scrollbar,
.rstudio-themes-flat
  .rstudio-themes-dark.rstudio-themes-scrollbars::-webkit-scrollbar,
.rstudio-themes-flat.rstudio-themes-dark-menus
  .rstudio-themes-scrollbars
  ::-webkit-scrollbar {
  background: var(--ds-scrollbar-bg);
}

.rstudio-themes-flat
  .rstudio-themes-dark.rstudio-themes-scrollbars
  ::-webkit-scrollbar-thumb,
.rstudio-themes-flat
  .rstudio-themes-dark.rstudio-themes-scrollbars::-webkit-scrollbar-thumb,
.rstudio-themes-flat.rstudio-themes-dark-menus
  .rstudio-themes-scrollbars
  ::-webkit-scrollbar-thumb {
  border: var(--ds-scrollbar-border);
  background: var(--ds-scrollbar-thumb-bg);
  -webkit-border-radius: 10px;
}

.rstudio-themes-flat
  .rstudio-themes-dark.rstudio-themes-scrollbars
  ::-webkit-scrollbar-track,
.rstudio-themes-flat
  .rstudio-themes-dark.rstudio-themes-scrollbars
  ::-webkit-scrollbar-corner,
.rstudio-themes-flat
  .rstudio-themes-dark.rstudio-themes-scrollbars::-webkit-scrollbar-track,
.rstudio-themes-flat
  .rstudio-themes-dark.rstudio-themes-scrollbars::-webkit-scrollbar-corner,
.rstudio-themes-flat.rstudio-themes-dark-menus
  .rstudio-themes-scrollbars
  ::-webkit-scrollbar-track,
.rstudio-themes-flat.rstudio-themes-dark-menus
  .rstudio-themes-scrollbars
  ::-webkit-scrollbar-corner {
  background: transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--ds-scrollbar-bg-hover) !important;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--ds-scrollbar-bg-active) !important;
}

#rstudio_shell_widget.ace_editor.ace_scroller,
#rstudio_source_text_editor.ace_editor
  :-webkit-any(.ace_gutter, .ace_scroller, .ace_scrollbar-v) {
  box-shadow: inset 0 6px 6px -6px black;
}

/*******
*
* Editor
* (#rstudio_source_text_editor)
*/
.macintosh .GD15MCFCAW,
.macintosh .GJQ3LUQCBW,
.macintosh .GD15MCFCAW td,
.macintosh .GJQ3LUQCBW td,
.macintosh .GJQ3LUQCBW pre,
.macintosh .GD15MCFCAW pre {
  line-height: 1.3;
}

/****
* autocomplete
*/
#rstudio_popup_completions {
  background-color: var(--ds-autocomplete-bg);
  color: var(--ds-autocomplete-fg);
  border: var(--ds-autocomplete-border);
}
.rstudio-themes-flat.rstudio-themes-dark-menus .ace_editor.ace_autocomplete {
  background: var(--ds-autocomplete-bg);
  border: solid 1px var(--ds-ui-border) !important;
  color: var(--ds-autocomplete-fg);
}

.rstudio-themes-flat.rstudio-themes-dark-menus
  .ace_editor.ace_autocomplete
  .ace_marker-layer
  .ace_active-line,
.rstudio-themes-flat.rstudio-themes-dark-menus
  .ace_editor.ace_autocomplete
  .ace_marker-layer
  .ace_line-hover {
  background: rgba(255, 255, 255, 0.15);
  border: none;
}

/* autocomplete documentation popup */
.rstudio-themes-flat.rstudio-themes-dark-menus .GGBOEFPDPWB {
  color: var(--ds-autocomplete-fg);
  background: var(--ds-autocomplete-bg);
}

/* actual documentation */
.rstudio-themes-flat.rstudio-themes-dark-menus
  :-webkit-any(.GGBOEFPDAXB, .GCHYANPCN1B) {
  color: var(--ds-autocomplete-fg);
  background-color: var(--ds-autocomplete-bg);
  border: 1px solid var(--ds-autocomplete-border);
}

.rstudio-themes-flat.rstudio-themes-dark-menus
  :-webkit-any(.GGBOEFPDHWB, .GGBOEFPDGWB, .GCHYANPCE1B) {
  background-color: var(--ds-ui-bg);
}

/* .rstudio-themes-flat.rstudio-themes-dark-menus .GGBOEFPDGWB { */
/* background: var(--ds-autocomplete-bg); */
/* } */

.rstudio-themes-flat.rstudio-themes-dark-menus .menuPopupMiddleCenter,
.rstudio-themes-flat.rstudio-themes-dark-menus
  .themedPopupPanel
  .popupMiddleCenter,
.rstudio-themes-flat.rstudio-themes-dark-menus
  .gwt-SuggestBoxPopup
  .suggestPopupMiddleCenter {
  background: var(--ds-autocomplete-bg);
  border: solid 1px var(--ds-autocomplete-border);
  color: var(--ds-autocomplete-fg);
}

/* "Packages ... are required but not installed... */
.rstudio-themes-flat
  .rstudio-themes-dark-grey
  :-webkit-any(.GGBOEFPDC4C, GD15MCFCB2C, .GGBOEFPDD4C) {
  background-color: var(--ds-ui-bg) !important;
  border-bottom: var(--ds-ui-border) !important;
}

/*******
*
* Environment tab/pane
*
*/

#rstudio_workbench_panel_environment :-webkit-any(td, tr) {
  border-color: var(--ds-grid-border) !important;
}

/*******
*
* Files
*
*/

/* #rstudio_workbench_panel_files { */
/* border-color: transparent !important; */
/* } */

/* tr[__gwt_header_row] > :-webkit-any(td, th) { */
/* border-color: transparent; */
/* } */

/*******
*
* Packages
*
*/

#rstudio_workbench_panel_packages :-webkit-any(td) {
  border-color: var(--ds-grid-border) !important;
}

/* Packages tab */
.rstudio-themes-flat .rstudio-themes-dark-grey .dataGridHeader,
.rstudio-themes-flat .rstudio-themes-dark-grey .GD15MCFCHBC,
.rstudio-themes-flat .rstudio-themes-dark-grey .GD15MCFCGCC {
  border-color: #333 !important;
}

.rstudio-themes-flat.rstudio-themes-dark-menus:-webkit-any(.gwt-MenuItemSeparator, .menuSeparatorInner) {
  border-color: var(--ds-ui-border) !important;
}

.rstudio-themes-flat.rstudio-themes-dark-menus .GJQ3LUQCIVB {
  color: #eaeaea;
  background: #444444;
  border: 1px solid #3e3e3e;
}

.rstudio-themes-flat.rstudio-themes-dark-menus .GJQ3LUQCPUB {
  background: #444444;
}

/*******
*
*  History
*
*/
.rstudio-themes-flat .rstudio-themes-dark-grey .GGBOEFPDD3B {
  background-color: var(--ds-active-secondary-tab) !important;
}

/* Most Tabs, e.g. Environment, Files, Source File Name, etc. */
.rstudio-themes-flat .rstudio-themes-dark .GD15MCFCIU,
.rstudio-themes-flat .rstudio-themes-dark .GD15MCFCPT {
  color: var(--ds-ui-font-fg);
  text-shadow: none;
  font-weight: 400;
  font-family: var(--ds-ui-font) !important;
  font-size: 12px !important;
}

.GGBOEFPDOU {
  font-family: var(--ds-ui-font) !important;
  font-size: 12px !important;
}

.GGBOEFPDCS .gwt-TabLayoutPanelTab,
.GD15MCFCBS .gwt-TabLayoutPanelTab {
  font-size: 12px !important;
}

.rstudio-themes-dark
  .gwt-TabLayoutPanelContent
  > div:nth-last-child(2):nth-child(4)
  .rstudio-themes-background {
  background-color: var(--ds-inactive-tab) !important;
}

/* Toolbar Fonts */
.GD15MCFCMU {
  font-family: var(--ds-ui-font) !important;
}

/* editor location */
.rstudio-themes-flat.editor_dark h1,
.rstudio-themes-flat.editor_dark h2,
.rstudio-themes-flat.editor_dark h3,
.rstudio-themes-flat.editor_dark h4 {
  color: #ffffff !important;
  background: none !important;
  border-color: #6a6a6a !important;
  font-family: var(--ds-ui-font) !important;
}

/*******
*
* Console Pane
*
*/
/* Console Pane (without any other tabs) */
.rstudio-themes-flat
  .rstudio-themes-dark-grey
  :-webkit-any(.GD15MCFCKV.GD15MCFCPO, .GGBOEFPDNV.GGBOEFPDPO, .GCHYANPCPV.GCHYANPCBP)
  :-webkit-any(div.GD15MCFCMO, div.GGBOEFPDMO, div.GCHYANPCOO)
  :-webkit-any(.GD15MCFCIS, .GGBOEFPDKS, .GCHYANPCLS) {
  background-color: var(--ds-ui-bg) !important;
  border-color: var(--ds-ui-border) !important;
}

/*******
*
* General (Not Specific to Any Individual Pane)
*
*/
/* introduced in RStudio 1.4 */
.rstudio-themes-flat .rstudio-themes-dark-grey .rstudio-themes-border {
  border-color: var(--ds-ui-border) !important;
}

/* Outer Container/Pane Borders */
.rstudio-themes-flat
  > .rstudio-themes-dark
  :-webkit-any(.windowframe, .rstheme_minimizedWindowObject)
  > div:last-child {
  border: 1px solid var(--ds-ui-border) !important;
}

/* panel dividers */
.rstudio-themes-flat
  .rstudio-themes-dark-grey
  :-webkit-any(.gwt-SplitLayoutPanel-HDragger, .gwt-SplitLayoutPanel-VDragger) {
  background: var(--ds-ui-divider-bg) !important;
}

/* wrapper around four panes */
body.rstudio-themes-flat .rstudio-themes-dark-grey,
.rstudio-themes-flat .rstudio-themes-dark-grey .rstudio-themes-background {
  background: var(--ds-ui-bg) !important;
}

/* main toolbar */
.rstudio-themes-dark > div:last-child > div > div > .rstheme_toolbarWrapper,
.rstudio-themes-dark [role="application"] > div > .rstheme_toolbarWrapper {
  background-color: var(--ds-ui-bg) !important;
  border-color: var(--ds-ui-bg) !important;
  border-radius: 1px solid;
}

/* Menu Separators */
.rstudio-themes-flat.rstudio-themes-dark-menus
  .gwt-MenuItemSeparator
  .menuSeparatorInner {
  border-color: var(--ds-ui-border) !important;
}

/* Active Primary/Secondary Tab Toolbar(s) */
.rstudio-themes-dark .rstheme_toolbarWrapper,
.rstudio-themes-dark .rstheme_secondaryToolbar {
  background-color: var(--ds-active-tab) !important;
  border-color: var(--ds-active-tab) !important;
}

/* tabs */
.rstudio-themes-dark
  .gwt-TabLayoutPanelTab:not(.gwt-TabLayoutPanelTab-selected)
  .rstheme_tabLayoutCenter,
.rstudio-themes-dark .rstheme_minimizedWindowObject .rstheme_center {
  background-color: var(--ds-inactive-tab) !important;
  /* color: var(--ds-editor-fg) !important; */
  border-color: var(--ds-ui-border) !important;
  cursor: pointer;
}

/* active tab */
.rstudio-themes-dark
  .gwt-TabLayoutPanelTab.gwt-TabLayoutPanelTab-selected
  .rstheme_tabLayoutCenter {
  background-color: var(--ds-active-tab) !important;
  color: white;
  border-color: var(--ds-ui-border) !important;
}

utCenter,
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs {
  background: var(--ds-ui-bg) !important;
}

/* Gradients */
.rstudio-themes-flat
  .rstudio-themes-dark
  :-webkit-any(.gwt-TabLayoutPanelTabs, .windowframe, .rstheme_multiPodUtilityTabArea, .GD15MCFCCS, .GJQ3LUQCCS, .GGFDNYQDDS) {
  background: var(--ds-tab-gradient-dark);
  border-color: var(--ds-ui-border) !important;
}

/* Source editor tab overflow gradient */
.rstudio-themes-flat
  .rstudio-themes-dark-grey
  :-webkit-any(.GGBOEFPDDS, .GD15MCFCCS, .GCHYANPCES) {
  background: var(--ds-tab-gradient-dark) !important;
}

/* gradient in files pane that displays when path is too long */
.rstudio-themes-flat
  .rstudio-themes-dark-grey
  .breadcrumb
  :-webkit-any(.GD15MCFCCJ, .GGBOEFPDCJ, .GCHYANPCCJ) {
  background: var(--ds-tab-gradient-light);
}

/* other toolbars */
.rstudio-themes-dark .rstudio-themes-background {
  background-color: var(--ds-active-secondary-tab) !important;
  border-top-color: var(--ds-ui-border) !important;
  border-bottom-color: var(--ds-ui-border) !important;
}

/**
* UI of Elements Attached to a Tab
* Example: Background of Path bar in the Files Pane
*/
.rstudio-themes-flat > .rstudio-themes-dark,
.rstudio-themes-flat
  > .rstudio-themes-dark
  :-webkit-any(.gwt-TabLayoutPanel, .gwt-TabLayoutPanelContent) {
  background: var(--ds-ui-bg) !important;
}

#rstudio_command_palette_search {
  font-size: 12px;
}

.rstudio-themes-dark .gwt-TabLayoutPanelTab .gwt-Label {
  cursor: pointer;
}

/* Search */
.rstudio-themes-dark .search input {
  font-family: var(--ds-ui-font) !important;
  font-size: 11px;
}

.rstudio-themes-dark
  :-webkit-any(.rstheme_toolbarWrapper, #rstudio_find_replace_bar)
  .search,
.rstudio-themes-flat .themedPopupPanel .search,
.rstudio-themes-flat.rstudio-themes-dark-menus .search {
  border-color: var(--ds-ui-border) !important;
  background: var(--ds-input-bg) !important;
}

.js-focus-visible .focus-visible:not(.gwt-MenuBar),
input[type="checkbox"].focus-visible {
  outline: var(--ds-ui-button-bg) solid 2px !important;
  outline-offset: -1px !important;
}

/* Inputs */
input[type="text"] {
  font-family: var(--ds-ui-font) !important;
}

/* settings "Basic" & "Advanced" buttons */
.GD15MCFCGP .gwt-TabLayoutPanelTab:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#rstudio_find_replace_bar :-webkit-any(button) > table:first-child {
  background-color: var(--ds-ui-button-bg) !important;
}

/* find in files button borders */
.rstudio-themes-flat .rstudio-themes-dark .GGBOEFPDCX,
.rstudio-themes-flat .rstudio-themes-dark .GGBOEFPDPW {
  border: solid 1px var(--ds-ui-border);
}

/* find in files button backgrounds */
.rstudio-themes-flat .rstudio-themes-dark-grey .GGBOEFPDPW .GGBOEFPDDX,
.rstudio-themes-flat .rstudio-themes-dark .GGBOEFPDOW,
.rstudio-themes-flat .rstudio-themes-dark .GGBOEFPDDX {
  background: var(--ds-ui-button-bg-selected);
}

.rstudio-themes-flat .rstudio-themes-dark-grey .GGBOEFPDPW .GGBOEFPDDX,
.rstudio-themes-flat .rstudio-themes-dark-grey .GGBOEFPDCX .GGBOEFPDOW {
  background: var(--ds-ui-button-bg);
}

/* Check box options in find and replace bar */
.GGBOEFPDD3B .gwt-Label,
.GGBOEFPDA3B .gwt-Label {
  font-size: 11px;
  margin-top: 3px !important;
}

/* settings pane */
.rstudio-themes-flat .gwt-DialogBox {
  border: solid 1px #242424;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.8);
}

/* settings inner-pane */
.GD15MCFCGP .gwt-TabLayoutPanelContentContainer {
  background: #d2d2d2;
  border: 1px solid var(--ds-ui-border);
}

.GGBOEFPDE1 {
  font-size: 10px;
}

/* I'm not sure what these are for. TODO: Figure out what these are for */
.rstudio-themes-flat .rstudio-themes-dark button.GJQ3LUQCC1 > table:first-child,
.rstudio-themes-flat
  .rstudio-themes-dark
  button.GD15MCFCB1
  > table:first-child {
  border-color: #444444;
  background: #777777;
}

.rstudio-themes-flat .GJQ3LUQCLV.GJQ3LUQCPO div.GJQ3LUQCMO .GJQ3LUQCIS {
  margin-right: 0;
  margin-bottom: 2px;
  border-bottom: solid 1px var(--ds-ui-border);
  background-color: var(--ds-ui-bg) !important;
}

/* datagrid */
.rstudio-themes-dark .dataGridHeader,
.rstudio-themes-dark tr[__gwt_header_row] > :-webkit-any(td, th),
.rstudio-themes-dark .dataTables_info {
  background: var(--ds-ui-bg) !important;
  border-color: var(--ds-ui-border) !important;
}

/* data table */
.rstudio-themes-dark .dataTable :-webkit-any(th, .first-child) {
  background-color: var(--ds-ui-bg) !important;
}

.rstudio-themes-dark .dataTable :-webkit-any(th, td, tr) {
  border-color: var(--ds-grid-border) !important;
}

.rstudio-themes-dark .dataTable tbody > tr:hover > td {
  background-color: var(--ds-ui-bg) !important;
}

/* JS Changing the data viewing window colors */

/* JS This is the color of the data cells */
.rstudio-themes-flat.rstudio-themes-dark-grey #rsGridData_info,
.rstudio-themes-flat.rstudio-themes-dark-grey th,
.rstudio-themes-flat.rstudio-themes-dark-grey td.first-child,
.rstudio-themes-flat.rstudio-themes-dark-grey table.dataTable thead th {
  background-color: #2b2b2b;
}

/* JS This is the color of the border of the data cells */
.rstudio-themes-flat.rstudio-themes-dark-grey #rsGridData_info,
.rstudio-themes-flat.rstudio-themes-dark-grey table.dataTable thead th,
.rstudio-themes-flat.rstudio-themes-dark-grey table.dataTable thead td,
.rstudio-themes-flat.rstudio-themes-dark-grey table.dataTable tbody td {
  border-color: black;
}
